@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Segoe-UI";
    src: url("../fonts/segoe-ui/Segoe\ UI.ttf");
    src: url("../fonts/segoe-ui/Segoe\ UI\ Bold.ttf");
    src: url("../fonts/segoe-ui/Segoe\ UI.woff");
    src: url("../fonts/segoe-ui/Segoe\ UI\ Bold.woff");
}


html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* / Firefox / */
input[type=number] {
    -moz-appearance: none
}

.content_pages p {
    color: rgba(75, 85, 99, 1);
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.content_pages h6 {
    color: rgba(55, 65, 81, 1);
    font-weight: 500;
    line-height: 1.75rem;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}


.terms_page p,
.privacy_page p {
    color: rgba(75, 85, 99, 1);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.terms_page h3,
.privacy_page h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgba(17, 24, 39, 1);
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.privacy_page h3 strong {
    font-weight: 500;
}

.terms_page a,
.privacy_page a {
    color: rgba(37, 99, 235, 1);
    font-weight: 500;
    cursor: pointer;
}

.terms_page a:hover,
.privacy_page a:hover {
    text-decoration: underline;
}

.terms_page ol,
.privacy_page ol {
    padding-left: 1rem;
    padding-right: 1rem;
    list-style-type: decimal !important;
    list-style: none;
}

.terms_page ul,
.privacy_page ul {
    padding-left: 1rem;
    padding-right: 1rem;
    list-style-type: disc !important;
    list-style: none;
}

.terms_page ol li,
.terms_page ul li,
.privacy_page ol li,
.privacy_page ul li {
    color: rgba(75, 85, 99, 1);
}

.privacy_page ol li h3,
.privacy_page ul li h3 {
    margin: 0.5rem 0
}

.terms_page ol li p,
.privacy_page ol li p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.descriptionText>strong,
.descriptionText strong span {
    font-size: 20px;
}

.custom-ac .aa-Form,
.custom-ac .aa-DetachedSearchButton {
    border-radius: 1rem !important;
    height: 62px;
    border-color: rgba(209, 213, 219, 1) !important;
}

.custom-ac .aa-Form:focus-within {
    box-shadow: none !important;
    border-color: rgba(59, 130, 246, 1) !important;
    border-width: 2px;
}

.textTruncateOne {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textTruncateTwo {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardBoxDescription,
.cardBoxDescription p span {
    color: rgba(75, 85, 99, 1) !important;
    font-weight: 400 !important;
    font-size: 0.75rem !important;
    line-height: 1rem !important;
    text-align: left !important;
    margin-top: 1rem !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 5 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.customFeaturedDemo::-webkit-scrollbar {
    display: none;
}

.textTruncateThree {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px
}

.textTruncateTen {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px
}

.mobileMenuWrap {
    align-items: center;
    justify-content: center;
    position: fixed;
    left: -700px;
    top: 0;
    bottom: 0;
    background-color: #fff;
    width: 80%;
    max-width: 300px;
    padding: 0 1rem 15px;
    box-shadow: 10px 0px 16px 0 #00000014;
    transition: .3s linear all
}

.menuBgOverlay {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: all 1000ms ease-in-out;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.mobileMenuListWrap {
    left: 0;
    z-index: 999999;
    overflow-y: scroll;
    /* transition: left 1000ms ; */
    transition: left 1000ms ease-in-out;
}



.customHeight {
    height: 450px;
}


.customBgColor {
    border-radius: 0 0 100px 100px;
}


.activeClassLine {
    position: relative;
}

.activeClassLine::before {
    content: "";
    background: url("../public/active_line.png") no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: -5px;
    left: 3px;
    background-size: contain;
}

.list-alphabets {
    list-style-type: lower-alpha;
}

.articleSlideWrap .carousel.carousel-slider {
    height: 60vh;
    border-radius: 0.5rem;
}


.articleSlideWrap .slider-wrapper,
.articleSlideWrap ul.slider {
    height: 100%;
}

.articleSlideWrap .carousel .slide .legend {
    opacity: 1 !important;
    background-color: transparent !important;
    margin: 0 !important;
}

.articleSlideWrap .carousel-status {
    display: none;
}

.articleSlideWrap .carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
    background: #000 !important;
    opacity: 0.8 !important;
}

.reviewSliderWrap .slick-arrow.slick-prev {
    position: absolute;
    left: auto;
    right: 40px;
    color: #34373C !important;
    opacity: 0.5;
    border-radius: 100%;
    top: -10px;
    width: 20px;
    height: 20px;
}

.reviewSliderWrap .slick-arrow.slick-next {
    position: absolute;
    left: auto;
    right: 2px;
    color: #2563EB !important;
    border-radius: 100%;
    top: -10px;
    width: 20px;
}

.relatedSliderWrap .slick-arrow.slick-prev {
    position: absolute;
    left: auto;
    right: 60px;
    color: #34373C !important;
    opacity: 0.5;
    border-radius: 100%;
    top: -40px;
    width: 20px;
    height: 20px;
}

.relatedSliderWrap .slick-arrow.slick-next {
    position: absolute;
    left: auto;
    right: 22px;
    color: #2563EB !important;
    border-radius: 100%;
    top: -40px;
    width: 20px;
    height: 20px;
}

.categorySliderWrap .slick-arrow.slick-prev {
    position: absolute;
    left: auto;
    right: 60px;
    color: #34373C !important;
    opacity: 0.5;
    border-radius: 100%;
    top: -50px;
    width: 20px;
    height: 20px;
}

.categorySliderWrap .slick-arrow.slick-next {
    position: absolute;
    left: auto;
    right: 22px;
    color: #5EACF1 !important;
    border-radius: 100%;
    top: -50px;
    width: 20px;
    height: 20px;
}

.courseSliderWrap .slick-arrow.slick-prev {
    position: absolute;
    left: auto;
    right: 60px;
    color: #34373C !important;
    opacity: 0.5;
    border-radius: 100%;
    top: -40px;
    width: 20px;
    height: 20px;
}

.courseSliderWrap .slick-arrow.slick-next {
    position: absolute;
    left: auto;
    right: 22px;
    color: #2563EB !important;
    border-radius: 100%;
    top: -40px;
    width: 20px;
    height: 20px;
}

.productSliderWrap .slick-arrow.slick-prev {
    position: absolute;
    left: auto;
    right: 45px;
    background-color: #000;
    color: #fff !important;
    border-radius: 100%;
    top: -40px;
    width: 40px;
    height: 40px;
    padding: 8px;
}

.productSliderWrap .slick-arrow.slick-next {
    position: absolute;
    left: auto;
    right: 0;
    background-color: #000;
    color: #fff !important;
    border-radius: 100%;
    top: -40px;
    width: 40px;
    height: 40px;
    padding: 8px;
}

.phoneCustomWrap .flag-dropdown {
    border: 1px solid rgba(17, 24, 39, 0.2) !important;
}


.phoneCustomWrap .phone-num-input {
    width: 100% !important;
    border: 1px solid rgba(17, 24, 39, 0.2) !important;
    height: 48px !important
}

.phoneCustomWrap .phone-num-input:focus {
    border: 1px solid rgba(59, 130, 246, 1) !important
}

.desc_style figure,
.desc_style h1,
.desc_style h2,
.desc_style h3,
.desc_style h4,
.desc_style h5,
.desc_style h6,
.desc_style p,
.desc_style span {
    margin: 1rem 0;
}

.article_body p {
    margin: 1rem 0;
}

.article_body ol,
.article_body ul {
    list-style-type: decimal;
    margin: 1rem 0;
    list-style-position: inside;
}

.article_body p br {
    display: none;
}

.containers {
    position: relative;
    width: 114px;
    height: 114px;
    border-radius: 100%;
}

.containers .imageWrapper {
    border: transparent;
    width: 100%;
    max-width: 114px;
    height: 114px;
    background: url("/placeholder-img.png") no-repeat center #D9D9D9;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.containers .imageWrapper img {
    height: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.file-upload {
    position: absolute;
    bottom: -10px;
    right: -10px;
    margin: 10px;
    width: 34px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    background: transparent;
    border: none;
    display: flex;
    gap: 8px;
    transition: all 0.2s ease;
}

.file-upload img {
    width: 34px;
    height: 34px;
    cursor: pointer;
}


.file-upload .file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    max-width: 34px;
}


.file-upload .file-input .MuiInput-root,
.file-upload .file-input input {
    height: 34px;
    width: 34px;
    cursor: pointer;
    padding: 0;
}


.video-upload {
    position: absolute;
    bottom: -10px;
    right: -10px;
    margin: 10px;
    width: 34px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    background: transparent;
    border: none;
    display: flex;
    gap: 8px;
    transition: all 0.2s ease;
}

.video-upload img {
    width: 34px;
    height: 34px;
    cursor: pointer;
}


.video-upload .video-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    max-width: 34px;
}


.video-upload .video-input .MuiInput-root,
.video-upload .video-input input {
    height: 34px;
    width: 34px;
    cursor: pointer;
    padding: 0;
}

.customCardClass {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 26px;
    height: 100%
}

.categoryClass {
    border: 2px solid #EEEEEE;
    border-radius: 24px;
}

.dealAvailUsers div:nth-child(even) {
    background-color: rgb(120 155 185 / 5%);
}

@media (max-width: 1023px) {
    .activeClassLine::before {
        left: 0
    }

    .customHeightResp {
        height: 300px;
    }
}

@media (min-width: 768px) {

    .tableHeight {
        height: 700px;
    }
}

@media (max-width: 767px) {


    .tableWrapperStyle thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        display: none !important;
    }

    .tableWrapperStyle tr {
        display: block;
    }

    .tableWrapperStyle td {
        display: flex;
        align-items: center;
        gap: 12px
    }

    .tableWrapperStyle td::before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label);
        float: left;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 1rem;
    }

    .tableWrapperStyle td:last-child {
        border-bottom: 0;
    }

    .containers {
        height: 119px;
        max-width: 119px;
    }

    .containers .imageWrapper {
        height: 120px;
        max-width: 120px;
    }

    .file-upload,
    .file-upload img,
    .file-upload .file-input .MuiInput-root,
    .file-upload .file-input input {
        width: 25px;
        height: 25px;
    }

    .file-upload {
        position: absolute;
        bottom: 5px;
        right: 5px;
        margin: 0;
    }

    .inputField input,
    .inputField .MuiAutocomplete-input,
    .bolt_text_input {
        padding: 14px !important;
        font-size: 15px !important;
    }

    .article_body ol li,
    .article_body ul li {
        line-height: 1.5;
        margin: 20px 0
    }

    .courseSliderWrap .slick-arrow.slick-prev {
        right: 50px;
    }

    .categorySliderWrap .slick-arrow.slick-prev,
    .categorySliderWrap .slick-arrow.slick-next {
        top: -30px
    }

    .categorySliderWrap .slick-arrow.slick-prev {
        right: 40px
    }

    .categorySliderWrap .slick-arrow.slick-next {
        right: 0px
    }

    .courseSliderWrap .slick-arrow.slick-next,
    .productSliderWrap .slick-arrow.slick-next {
        right: 0;
    }

    .articleSlideWrap .carousel.carousel-slider .control-arrow {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 420px) {
    .courseSliderWrap .slick-arrow.slick-prev {
        right: 35px;
    }

    .courseSliderWrap .slick-arrow.slick-prev,
    .courseSliderWrap .slick-arrow.slick-next {
        width: 30px;
        height: 30px;
    }

    .customBgColor {

        border-radius: 0 0 80px 80px;
    }

}